<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta
      name="viewport"
      content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0, width=device-width"
    />

    <title>{{ TITLE }}</title>
    <style>
      * {
        box-sizing: border-box;
      }

      html,
      body {
        font-family: monospace;
        font-size: 16px;
      }

      body {
        margin: 8px 24px;
      }

      footer,
      header,
      main {
        margin: 0 auto;
        max-width: 625px;
      }

      button {
        -moz-appearance: none;
        -webkit-appearance: none;
        margin: 0 0 10px;
        padding: 10px 20px;
        border: 4px solid rosybrown;
        background-color: wheat;
        width: 100%;
        font-family: sans-serif;
        font-size: 24px;
        font-weight: bold;
        color: rosybrown;
        letter-spacing: 1px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;
      }

      button:hover,
      button:focus {
        outline: none;
        border-color: salmon;
        color: salmon;
      }

      button:active {
        border-color: rosybrown;
        color: rosybrown;
        background-color: saddlebrown;
      }

      input[type="text"] {
        -moz-appearance: none;
        -webkit-appearance: none;
        margin: 0 0 10px;
        padding: 10px 20px;
        border: 4px solid gray;
        background-color: whitesmoke;
        width: 100%;
        font-family: sans-serif;
        font-size: 24px;
        font-weight: bold;
        color: gray;
        letter-spacing: 1px;
      }

      input[type="text"]::placeholder {
        color: lightgray;
      }

      input[type="text"]:focus {
        outline: none;
        border-color: salmon;
      }

      #state,
      #status {
        color: gray;
      }

      #state.danger,
      #status.danger {
        color: red;
      }

      #state.success,
      #status.success {
        color: green;
      }
    </style>
    <script>
      "use strict";

      const updateElement = el => (innerText, className, resetDelay) => {
        if (resetDelay) {
          const { defaultInnerText, resetTimeout } = el.dataset;
          if (resetTimeout) clearTimeout(+resetTimeout);
          el.setAttribute(
            "data-reset-timeout",
            setTimeout(() => updateElement(el)(defaultInnerText), resetDelay)
          );
        }

        el.className = className || "";
        el.innerText = innerText || "";
      };

      const webSocketConnect = (count = 1) => {
        const state = document.getElementById("state");
        const updateState = updateElement(state);

        updateState("Connecting...");

        const socket = new WebSocket(
          "{{ WEB_SOCKET_PROTOCOL }}://{{ HOSTNAME }}:{{ PORT }}",
          "garage-pi-protocol"
        );

        socket.addEventListener("error", err => {
          console.error(err);
          socket.close();
        });

        socket.addEventListener("open", () => {
          socket.send("{{ AUTHORIZATION }}");
          updateState("Authorizing...");
        });

        socket.addEventListener("close", () => {
          const delay = 5000 * count;
          console.error(new Error("garage pi socket closed"));
          updateState(
            `Error. Retrying in ${delay / 1000} seconds...`,
            "danger"
          );
          setTimeout(() => webSocketConnect(count + 1), delay);
        });

        socket.addEventListener("message", message => {
          switch (message.data) {
            case "0":
              updateState("Closed", "success");
              break;
            case "1":
              updateState("Open", "danger");
              break;
            default:
              console.error(new Error(`unknown state: ${message.data}`));
              updateState("Unknown", "danger");
              break;
          }
        });
      };

      document.addEventListener(
        "DOMContentLoaded",
        () => {
          const relayCode = document.getElementById("relay-code");
          const sendSMS = document.getElementById("send-sms");
          const status = document.getElementById("status");
          const toggleRelay = document.getElementById("toggle-relay");
          const updateStatus = updateElement(status);

          updateStatus(status.dataset.defaultInnerText);
          webSocketConnect();

          sendSMS.addEventListener(
            "click",
            async () => {
              updateStatus("Requesting relay code...");

              try {
                const res = await fetch(
                  "{{ PROTOCOL }}://{{ HOSTNAME }}:{{ PORT }}/auth",
                  {
                    headers: { Authorization: "{{ AUTHORIZATION }}" },
                    method: "POST"
                  }
                );

                if (res.status >= 400) {
                  const { error } = await res.json();
                  throw new Error(error);
                }

                updateStatus("Relay code sent", "success", 15000);
              } catch (err) {
                console.error(err);
                updateStatus(err.message, "danger", 15000);
              }
            },
            false
          );

          toggleRelay.addEventListener(
            "click",
            async () => {
              updateStatus("Toggling relay...");

              try {
                const res = await fetch(
                  "{{ PROTOCOL }}://{{ HOSTNAME }}:{{ PORT }}/relay",
                  {
                    headers: {
                      Authorization: "{{ AUTHORIZATION }}",
                      "Relay-Code": relayCode.value
                    },
                    method: "POST"
                  }
                );

                if (res.status >= 400) {
                  const { error } = await res.json();
                  throw new Error(error);
                }

                relayCode.value = "";
                updateStatus("Relay toggled", "success", 15000);
              } catch (err) {
                console.error(err);
                updateStatus(err.message, "danger", 15000);
              }
            },
            false
          );
        },
        false
      );
    </script>
  </head>
  <body>
    <header>
      <h1>{{ TITLE }}</h1>
    </header>
    <main>
      <section>
        <p>
          Click the <strong>Send SMS</strong> button to generate and send a
          one-time relay code.
        </p>
        <button id="send-sms">Send SMS</button>
      </section>
      <section>
        <p>
          Enter a one-time relay code and click the
          <strong>Toggle Relay</strong> button.
        </p>
        <input
          id="relay-code"
          name="relay-code"
          placeholder="Enter relay code..."
          type="text"
        />
        <button id="toggle-relay">Toggle Relay</button>
      </section>
    </main>
    <footer>
      <p>
        <strong
          >STATE:
          <span
            data-default-inner-text=""
            data-reset-timeout=""
            id="state"
          ></span
        ></strong>
      </p>
      <p>
        <strong
          >STATUS:
          <span
            data-default-inner-text="Okay"
            data-reset-timeout=""
            id="status"
          ></span
        ></strong>
      </p>
    </footer>
  </body>
</html>
