<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta
      name="viewport"
      content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0, width=device-width"
    />

    <title>{{ TITLE }} Token Interface</title>
    <style>
      * {
        box-sizing: border-box;
      }

      html,
      body {
        font-family: monospace;
        font-size: 16px;
      }

      body {
        margin: 8px 24px;
      }

      .header,
      .main {
        margin: 0 auto;
        max-width: 625px;
      }
    </style>
  </head>
  <body>
    <div class="header">
      <h1>{{ TITLE }} Token Interface</h1>
    </div>
    <div class="main">
      <p>
        The following link contains an authorized relay code form that should be
        bookmarked for future use, and will be valid until this token is
        revoked:
      </p>
      <p>
        <strong
          ><a href="data:text/html;base64,{{ BASE64_HTML }}" target="_blank"
            >{{ TITLE }} Token Interface Data URI Link</a
          ></strong
        >
      </p>
    </div>
  </body>
</html>
